@model Laptop

@{
    ViewData["Title"] = "Laptop Details";
}

<div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model.ImageURL" width="100%" alt="@Model.Name" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text"><b>Description: </b>@Model.Description</p>
                            <p class="card-text"><b>Price: </b>@Model.Price.ToString("c")</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (Model.Quantity <= 0)
                                {
                                    <span class="badge bg-danger text-white">OUT OF STOCK</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">AVAILABLE</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Back to List
                                </a>

                                @if (Model.Quantity > 0)
                                {
                                    <a class="btn btn-success text-white"  asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                                }
                                else
                                {
                                    <button class="btn btn-danger text-white" disabled>Out Of Stock</button>
                                }


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
